.App {
  text-align: center;
}

.top-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
  margin-left: 1rem;
}
.top-container-btns{
  margin-right: 1rem;
}
.middle-container{
  margin: 1rem;
}