.App {
  text-align: center;
}

.top-container-btns{
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.top-container-btns-admin{
  display: flex;
  margin-right: 1rem;
  width: 21rem;
  justify-content: space-between;
}

.top-container-btns-guest{
  display: flex;
  margin-right: 1rem;
  justify-content: space-between;
}

.middle-container{
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.bottom-container{
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.bottom-container-water{
  display: flex;
  margin-right: 1rem ;
}

.bottom-container-light{
  display: flex;
}

.bottom-container-moisture{
  margin-left: 1rem;
}

.bottom-container-left{
  display: flex;
}

.bottom-container-export{
  display: flex;
  margin-right: 1rem;
}

.bottom-container-graph{
  display: flex;
}

.bottom-container-right{
  display: flex;
}

.table-below{
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 1100px) {
  .top-container-btns-admin{
    display: flex;
    flex-direction: column;
    height: 7rem;
    margin-right: 1rem;
    width: 21rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .bottom-container-water{
    display: flex;
    /* margin-right: 1rem ; */
    margin-bottom: 1rem;
  }
  
  .bottom-container-datacapture{
    display: flex;
    margin-bottom: 1rem;
  }
  
  .bottom-container-left{
    display: flex;
    flex-direction: column;
  }
  
  .bottom-container-moisture{
    display: flex;
    margin-left: 0;
  }

  .bottom-container-export{
    display: flex;
    margin-right: 0;
    margin-bottom: 1rem;
    justify-content: flex-end;
  }
  
  .bottom-container-graph{
    display: flex;
  }
  
  .bottom-container-right{
    display: flex;
    flex-direction: column;
  }

  .table-below{
    display:flex;
    flex-direction: column-reverse;
  }

  .bottom-container{
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  h1{
    text-align: center;
    margin-bottom: 1rem;
  }

  .top-container-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .middle-container{
    margin-right: 1rem;
  }

  .top-container-btns-admin{
    display: flex;
    flex-direction: column;
    height: 7rem;
    margin-right: 1rem;
    width: 21rem;
    justify-content: space-between;
  }

  .bottom-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
  }

  .bottom-container-water{
    display: flex;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  
  .bottom-container-light{
    display: flex;
    margin-bottom: 1rem;
  }
  
  .bottom-container-left{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .bottom-container-export{
    display: flex;
    margin-right: 0;
    margin-bottom: 1rem;
    justify-content: flex-start;
  }
  
  .bottom-container-graph{
    display: flex;
  }
  
  .bottom-container-right{
    display: flex;
  }
}

