.table{
    margin: 0;
}

.paginator{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-head{
    color: #FFC107;
}

.filter-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: -1.5rem;
    margin-left: -0.5rem;
}

@media only screen and (max-width: 600px){
    .data-table-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .data-table{
        display:flex;
        margin: 0;
    }
}