.table{
    margin: 0;
}

.paginator{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-head{
    color: #FFC107;
}

.filter-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: -1.5rem;
    margin-left: -0.5rem;
}
